<!DOCTYPE html>


<html lang="en">
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Kingdom</title>
    </head>

    <style>
        body {
            background-color: black;
            font-family:'VT323';
            color:white;
            font-size:2em;
        }
    </style>

    <body>
        <!-- animal game demo -->
        <h2>Current Suggestion:</h2>
        <div id="prompt">{{ session['game_prompt'] }}</div>
        <br>
        <br>
        <h3>Status of the community:</h3>
        <br>
        Non-Human Animal Happiness: <span id="animal">{{ session['animal_metric'] }}</span>
        <br>
        Human Animal Happiness: <span id="human">{{ session['human_metric'] }}</span>
        <br>
        <button id="yes">YES</button>
        <br>
        <button id="no">NO</button>
    </body>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('button').forEach(button => {
                button.onclick = () => {
                    const request = new XMLHttpRequest();
                    request.open('POST', `/${button.id}`);
                    request.onload = () => {
                        const response = request.responseText;

                        if (button.id == "yes" | button.id == "no") {
                                let results = response.split("#");

                                if (!response.includes('#')) {
                                    if (response.includes('lose')){
                                        window.location.href = 'lost';
                                    }
                                    else {
                                        window.location.href = 'win';
                                    }
                                }
                                else {
                                    let new_animal_metric = results[0];
                                    let new_human_metric = results[1];
                                    let new_prompt = results[2];

                                    document.getElementById('animal').innerHTML = new_animal_metric;
                                    document.getElementById('human').innerHTML = new_human_metric;
                                    document.getElementById('prompt').innerHTML = new_prompt;
                                }
                            
                        }
                        
                    }; 
                    request.send();
                };
            });
        });
    </script>

</html>