<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Voting App !</title>
    </head>

    
    <body>
        <!-- Votes example -->
        Votes: <span id="count">{{ votes }}</span>
        <br><br>
        <button id="up">UP</button>
        <br>
        <button id="down">DOWN</button>
        <hr>

        <!-- animal game demo -->
        Metric:
        <div id="prompt">{{ game_prompt }}</div>
        <br>
        metrics: <span id="metrics">{{game_metric}}</span>
        <!-- <br>
        animal metric: <span id="animal">{{ animal_metric }}</span>
        <br>
        human metric: <span id="human">{{ human_metric }}</span>
        <br> -->
        <button id="yes">YES</button>
        <br>
        <button id="no">NO</button>
    </body>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('button').forEach(button => {
                button.onclick = () => {
                    const request = new XMLHttpRequest();
                    request.open('POST', `/${button.id}`);
                    request.onload = () => {
                        const response = request.responseText;

                        if (button.id == "up" | button.id == "down") {
                            document.getElementById('count').innerHTML = response;
                        }
                        else if (button.id == "yes" | button.id == "no") {
                            if (button.id == "yes") {
                                document.getElementById('metrics').innerHTML = response;
                                // document.getElementById('human').innerHTML = response[1];
                            }
                            
                        }
                        
                    }; 
                    request.send();
                };
            });
        });
    </script>

</html>